[submodule "csrc/cutlass"]
	path = csrc/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "csrc/composable_kernel"]
	path = csrc/composable_kernel
	url = https://github.com/ROCm/composable_kernel.git
	branch = amd-master
[submodule "third_party/hdt"]
	path = third_party/hdt
	url = https://github.com/autonomousvision/hdt.git
